/* TokenTransfer.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.connect-wallet-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.connect-wallet-button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 12px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.connect-wallet-button.connected {
  background-color: #4caf50; /* Cor quando conectado */
}

.connection-indicator {
  width: 10px;
  height: 10px;
  background-color: #4caf50; /* Cor do indicador quando conectado */
  border-radius: 50%;
  margin-left: 5px; /* Espaçamento entre o botão e o indicador */
}

.data-hora {
  margin-left: auto;
  margin-right: 10px;
}

.numero-conta {
  margin-top: 10px;
}

.info-section {
  text-align: start;
  margin-top: 20px;
  padding: 10px;
  background-color: #d8d108;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  background-color: #d8d108;
  border-radius: 5px;
  padding: 10px;
}

.form-control {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
}

.form-control:focus {
  border-color: #007bff;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: rgba(255, 68, 0, 0.895);
}

.transfer-heading {
  text-align: center;
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}
